(
    palette: Dark((
        name: "Rosé Pine",
        blue: (
            red: 0.61176471,
            green: 0.81176471,
            blue: 0.84705882,
            alpha: 1.0,
        ),
        red: (
            red: 0.92156863,
            green: 0.43529412,
            blue: 0.57254902,
            alpha: 1.0,
        ),
        green: (
            red: 0.19215686,
            green: 0.45490196,
            blue: 0.56078431,
            alpha: 1.0,
        ),
        yellow: (
            red: 0.96470588,
            green: 0.75686275,
            blue: 0.46666667,
            alpha: 1.0,
        ),
        gray_1: (
            red: 0.12941176,
            green: 0.12549020,
            blue: 0.18039216,
            alpha: 1.0,
        ),
        gray_2: (
            red: 0.25098039,
            green: 0.23921569,
            blue: 0.32156863,
            alpha: 1.0,
        ),
        gray_3: (
            red: 0.32156863,
            green: 0.30980392,
            blue: 0.40392157,
            alpha: 1.0,
        ),
        neutral_0: (
            red: 0.09803922,
            green: 0.09019608,
            blue: 0.14117647,
            alpha: 1.0,
        ),
        neutral_1: (
            red: 0.12156863,
            green: 0.11372549,
            blue: 0.18039216,
            alpha: 1.0,
        ),
        neutral_2: (
            red: 0.14901961,
            green: 0.13725490,
            blue: 0.22745098,
            alpha: 1.0,
        ),
        neutral_3: (
            red: 0.12941176,
            green: 0.12549020,
            blue: 0.18039216,
            alpha: 1.0,
        ),
        neutral_4: (
            red: 0.25098039,
            green: 0.23921569,
            blue: 0.32156863,
            alpha: 1.0,
        ),
        neutral_5: (
            red: 0.32156863,
            green: 0.30980392,
            blue: 0.40392157,
            alpha: 1.0,
        ),
        neutral_6: (
            red: 0.12941176,
            green: 0.12549020,
            blue: 0.18039216,
            alpha: 1.0,
        ),
        neutral_7: (
            red: 0.25098039,
            green: 0.23921569,
            blue: 0.32156863,
            alpha: 1.0,
        ),
        neutral_8: (
            red: 0.32156863,
            green: 0.30980392,
            blue: 0.40392157,
            alpha: 1.0,
        ),
        neutral_9: (
            red: 0.09803922,
            green: 0.09019608,
            blue: 0.14117647,
            alpha: 1.0,
        ),
        neutral_10: (
            red: 0.12156863,
            green: 0.11372549,
            blue: 0.18039216,
            alpha: 1.0,
        ),
        bright_green: (
            red: 0.61176471,
            green: 0.81176471,
            blue: 0.84705882,
            alpha: 1.0,
        ),
        bright_red: (
            red: 0.92156863,
            green: 0.43529412,
            blue: 0.57254902,
            alpha: 1.0,
        ),
        bright_orange: (
            red: 0.92156863,
            green: 0.73725490,
            blue: 0.72941176,
            alpha: 1.0,
        ),
        ext_warm_grey: (
            red: 0.43137255,
            green: 0.41568627,
            blue: 0.52549020,
            alpha: 1.0,
        ),
        ext_orange: (
            red: 0.92156863,
            green: 0.73725490,
            blue: 0.72941176,
            alpha: 1.0,
        ),
        ext_yellow: (
            red: 0.96470588,
            green: 0.75686275,
            blue: 0.46666667,
            alpha: 1.0,
        ),
        ext_blue: (
            red: 0.19215686,
            green: 0.45490196,
            blue: 0.56078431,
            alpha: 1.0,
        ),
        ext_purple: (
            red: 0.76862745,
            green: 0.65490196,
            blue: 0.90588235,
            alpha: 1.0,
        ),
        ext_pink: (
            red: 0.92156863,
            green: 0.73725490,
            blue: 0.72941176,
            alpha: 1.0,
        ),
        ext_indigo: (
            red: 0.76862745,
            green: 0.65490196,
            blue: 0.90588235,
            alpha: 1.0,
        ),
        accent_blue: (
            red: 0.61176471,
            green: 0.81176471,
            blue: 0.84705882,
            alpha: 1.0,
        ),
        accent_red: (
            red: 0.92156863,
            green: 0.43529412,
            blue: 0.57254902,
            alpha: 1.0,
        ),
        accent_green: (
            red: 0.19215686,
            green: 0.45490196,
            blue: 0.56078431,
            alpha: 1.0,
        ),
        accent_warm_grey: (
            red: 0.43137255,
            green: 0.41568627,
            blue: 0.52549020,
            alpha: 1.0,
        ),
        accent_orange: (
            red: 0.92156863,
            green: 0.73725490,
            blue: 0.72941176,
            alpha: 1.0,
        ),
        accent_yellow: (
            red: 0.96470588,
            green: 0.75686275,
            blue: 0.46666667,
            alpha: 1.0,
        ),
        accent_purple: (
            red: 0.76862745,
            green: 0.65490196,
            blue: 0.90588235,
            alpha: 1.0,
        ),
        accent_pink: (
            red: 0.92156863,
            green: 0.43529412,
            blue: 0.57254902,
            alpha: 1.0,
        ),
        accent_indigo: (
            red: 0.76862745,
            green: 0.65490196,
            blue: 0.90588235,
            alpha: 1.0,
        ),
    )),
    spacing: (
        space_none: 0,
        space_xxxs: 4,
        space_xxs: 8,
        space_xs: 12,
        space_s: 16,
        space_m: 24,
        space_l: 32,
        space_xl: 48,
        space_xxl: 64,
        space_xxxl: 128,
    ),
    corner_radii: (
        radius_0: (0.0, 0.0, 0.0, 0.0),
        radius_xs: (4.0, 4.0, 4.0, 4.0),
        radius_s: (8.0, 8.0, 8.0, 8.0),
        radius_m: (16.0, 16.0, 16.0, 16.0),
        radius_l: (32.0, 32.0, 32.0, 32.0),
        radius_xl: (160.0, 160.0, 160.0, 160.0),
    ),
    neutral_tint: Some((
        red: 0.14901961,
        green: 0.13725490,
        blue: 0.22745098,
    )),
    bg_color: Some((
        red: 0.09803922,
        green: 0.09019608,
        blue: 0.14117647,
        alpha: 1,
    )),
    primary_container_bg: Some((
        red: 0.12156863,
        green: 0.11372549,
        blue: 0.18039216,
        alpha: 1,
    )),
    secondary_container_bg: None,
    text_tint: Some((
        red: 0.87843137,
        green: 0.87058824,
        blue: 0.95686275,
    )),
    accent: Some((
        red: 0.76862745,
        green: 0.65490196,
        blue: 0.90588235,
    )),
    success: Some((
        red: 0.19215686,
        green: 0.45490196,
        blue: 0.56078431,
    )),
    warning: Some((
        red: 0.96470588,
        green: 0.75686275,
        blue: 0.46666667,
    )),
    destructive: Some((
        red: 0.92156863,
        green: 0.43529412,
        blue: 0.57254902,
    )),
    is_frosted: false,
    gaps: (0, 10),
    active_hint: 2,
    window_hint: None,
)
