(
    palette: Light((
        name: "Rosé Pine Dawn",
        blue: (
            red: 0.33725490,
            green: 0.58039216,
            blue: 0.62352941,
            alpha: 1.0,
        ),
        red: (
            red: 0.70588235,
            green: 0.38823529,
            blue: 0.47843137,
            alpha: 1.0,
        ),
        green: (
            red: 0.15686275,
            green: 0.41176471,
            blue: 0.51372549,
            alpha: 1.0,
        ),
        yellow: (
            red: 0.91764706,
            green: 0.61568627,
            blue: 0.20392157,
            alpha: 1.0,
        ),
        gray_1: (
            red: 0.95686275,
            green: 0.92941176,
            blue: 0.90980392,
            alpha: 1.0,
        ),
        gray_2: (
            red: 0.87450980,
            green: 0.85490196,
            blue: 0.85098039,
            alpha: 1.0,
        ),
        gray_3: (
            red: 0.80784314,
            green: 0.79215686,
            blue: 0.80392157,
            alpha: 1.0,
        ),
        neutral_0: (
            red: 0.98039216,
            green: 0.95686275,
            blue: 0.92941176,
            alpha: 1.0,
        ),
        neutral_1: (
            red: 1.00000000,
            green: 0.98039216,
            blue: 0.95294118,
            alpha: 1.0,
        ),
        neutral_2: (
            red: 0.94901961,
            green: 0.91372549,
            blue: 0.87058824,
            alpha: 1.0,
        ),
        neutral_3: (
            red: 0.95686275,
            green: 0.92941176,
            blue: 0.90980392,
            alpha: 1.0,
        ),
        neutral_4: (
            red: 0.87450980,
            green: 0.85490196,
            blue: 0.85098039,
            alpha: 1.0,
        ),
        neutral_5: (
            red: 0.80784314,
            green: 0.79215686,
            blue: 0.80392157,
            alpha: 1.0,
        ),
        neutral_6: (
            red: 0.95686275,
            green: 0.92941176,
            blue: 0.90980392,
            alpha: 1.0,
        ),
        neutral_7: (
            red: 0.87450980,
            green: 0.85490196,
            blue: 0.85098039,
            alpha: 1.0,
        ),
        neutral_8: (
            red: 0.80784314,
            green: 0.79215686,
            blue: 0.80392157,
            alpha: 1.0,
        ),
        neutral_9: (
            red: 0.98039216,
            green: 0.95686275,
            blue: 0.92941176,
            alpha: 1.0,
        ),
        neutral_10: (
            red: 1.00000000,
            green: 0.98039216,
            blue: 0.95294118,
            alpha: 1.0,
        ),
        bright_green: (
            red: 0.33725490,
            green: 0.58039216,
            blue: 0.62352941,
            alpha: 1.0,
        ),
        bright_red: (
            red: 0.70588235,
            green: 0.38823529,
            blue: 0.47843137,
            alpha: 1.0,
        ),
        bright_orange: (
            red: 0.84313725,
            green: 0.50980392,
            blue: 0.49411765,
            alpha: 1.0,
        ),
        ext_warm_grey: (
            red: 0.59607843,
            green: 0.57647059,
            blue: 0.64705882,
            alpha: 1.0,
        ),
        ext_orange: (
            red: 0.84313725,
            green: 0.50980392,
            blue: 0.49411765,
            alpha: 1.0,
        ),
        ext_yellow: (
            red: 0.91764706,
            green: 0.61568627,
            blue: 0.20392157,
            alpha: 1.0,
        ),
        ext_blue: (
            red: 0.15686275,
            green: 0.41176471,
            blue: 0.51372549,
            alpha: 1.0,
        ),
        ext_purple: (
            red: 0.56470588,
            green: 0.47843137,
            blue: 0.66274510,
            alpha: 1.0,
        ),
        ext_pink: (
            red: 0.84313725,
            green: 0.50980392,
            blue: 0.49411765,
            alpha: 1.0,
        ),
        ext_indigo: (
            red: 0.56470588,
            green: 0.47843137,
            blue: 0.66274510,
            alpha: 1.0,
        ),
        accent_blue: (
            red: 0.33725490,
            green: 0.58039216,
            blue: 0.62352941,
            alpha: 1.0,
        ),
        accent_red: (
            red: 0.70588235,
            green: 0.38823529,
            blue: 0.47843137,
            alpha: 1.0,
        ),
        accent_green: (
            red: 0.15686275,
            green: 0.41176471,
            blue: 0.51372549,
            alpha: 1.0,
        ),
        accent_warm_grey: (
            red: 0.59607843,
            green: 0.57647059,
            blue: 0.64705882,
            alpha: 1.0,
        ),
        accent_orange: (
            red: 0.84313725,
            green: 0.50980392,
            blue: 0.49411765,
            alpha: 1.0,
        ),
        accent_yellow: (
            red: 0.91764706,
            green: 0.61568627,
            blue: 0.20392157,
            alpha: 1.0,
        ),
        accent_purple: (
            red: 0.56470588,
            green: 0.47843137,
            blue: 0.66274510,
            alpha: 1.0,
        ),
        accent_pink: (
            red: 0.70588235,
            green: 0.38823529,
            blue: 0.47843137,
            alpha: 1.0,
        ),
        accent_indigo: (
            red: 0.56470588,
            green: 0.47843137,
            blue: 0.66274510,
            alpha: 1.0,
        ),
    )),
    spacing: (
        space_none: 0,
        space_xxxs: 4,
        space_xxs: 8,
        space_xs: 12,
        space_s: 16,
        space_m: 24,
        space_l: 32,
        space_xl: 48,
        space_xxl: 64,
        space_xxxl: 128,
    ),
    corner_radii: (
        radius_0: (0.0, 0.0, 0.0, 0.0),
        radius_xs: (4.0, 4.0, 4.0, 4.0),
        radius_s: (8.0, 8.0, 8.0, 8.0),
        radius_m: (16.0, 16.0, 16.0, 16.0),
        radius_l: (32.0, 32.0, 32.0, 32.0),
        radius_xl: (160.0, 160.0, 160.0, 160.0),
    ),
    neutral_tint: Some((
        red: 0.94901961,
        green: 0.91372549,
        blue: 0.87058824,
    )),
    bg_color: Some((
        red: 0.98039216,
        green: 0.95686275,
        blue: 0.92941176,
        alpha: 1,
    )),
    primary_container_bg: Some((
        red: 1.00000000,
        green: 0.98039216,
        blue: 0.95294118,
        alpha: 1,
    )),
    secondary_container_bg: None,
    text_tint: Some((
        red: 0.34117647,
        green: 0.32156863,
        blue: 0.47450980,
    )),
    accent: Some((
        red: 0.56470588,
        green: 0.47843137,
        blue: 0.66274510,
    )),
    success: Some((
        red: 0.15686275,
        green: 0.41176471,
        blue: 0.51372549,
    )),
    warning: Some((
        red: 0.91764706,
        green: 0.61568627,
        blue: 0.20392157,
    )),
    destructive: Some((
        red: 0.70588235,
        green: 0.38823529,
        blue: 0.47843137,
    )),
    is_frosted: false,
    gaps: (0, 10),
    active_hint: 2,
    window_hint: None,
)
